<?xml version="1.0"?>
<robot name="accessories" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find go1_description)/xacro/open_manipulator/open_manipulator_robot.urdf.xacro" />
  <!-- Open Manipulator Bracket -->
  <link name="open_manipulator_bracket">
    <visual>
      <geometry>
        <mesh filename="package://go1_description/meshes/3d_brackets/open_manipulator_combined_fixture.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://go1_description/meshes/3d_brackets/open_manipulator_combined_fixture.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="open_manipulator_bracket_joint" type="fixed">
    <parent link="front_top_mount"/>
    <child link="open_manipulator_bracket"/>
    <origin xyz="0.062 0 0.021" rpy="0 0 0"/>
  </joint>

  <!-- Open Manipulator Add on -->
  <link name="front_top_mount" />
  <joint name="front_top_mount_joint" type="fixed">
    <parent link="ultraSound_face" />
    <child link="front_top_mount" />
    <origin xyz="-0.17 0.0 0.045" rpy="0 0 0"/>
  </joint>

  <joint name="open_manipulator_joint" type="fixed">
    <parent link="front_top_mount" />
    <child link="link1" />
    <origin xyz="0.0025 0 0.01" rpy="0 0 0" />
  </joint>

  <!-- Robosense Bracket -->
  <xacro:include filename="$(find go1_description)/xacro/robosense/robosense.urdf.xacro" />

</robot>