
    <div id="content">
        <div class="column">
            <div id="text-container">
                <p class="text-bold">Objects detected :{{ webapp_var_objdetected }}</p>
                <p class="text-bold">Second line of text</p>
                <p class="text-bold">Third line of text</p>
            </div>
        </div>
        <div class="column">
            <div id="text-container">
                <p class="text-bold">First line of text</p>
                <p class="text-bold">Second line of text</p>
                <p class="text-bold">Third line of text</p>
            </div>
        </div>
    </div>
